<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caitu99.service.integral.dao.FutureMapper" >
  	<resultMap id="BaseResultMap" type="com.caitu99.service.integral.domain.Future" >
	    <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="code" property="code" jdbcType="VARCHAR" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
	    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
  	</resultMap>
  	<sql id="Base_Column_List" >
    	id, code, name, gmt_create, gmt_modify
  	</sql>
  	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    	select 
    		<include refid="Base_Column_List" />
    	from t_future
    	where id = #{id,jdbcType=BIGINT}
  	</select>
  	
  	<select id="findListByManualIdType" resultMap="BaseResultMap" parameterType="java.util.Map" >
  		SELECT 
  			t_future.* 
  		FROM 
  			t_manual_future_relation 
  		JOIN 
  			t_future 
  		ON 
  			t_future.id = t_manual_future_relation.future_id 
  		WHERE t_manual_future_relation.manual_id = #{manualId,jdbcType=BIGINT} and t_manual_future_relation.type = #{type,jdbcType=INTEGER}
  	</select>
  	
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_future
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.caitu99.service.integral.domain.Future" >
    insert into t_future (id, code, name, 
      gmt_create, gmt_modify)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.caitu99.service.integral.domain.Future" >
    insert into t_future
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModify != null" >
        gmt_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.caitu99.service.integral.domain.Future" >
    update t_future
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.caitu99.service.integral.domain.Future" >
    update t_future
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>