<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caitu99.service.realization.dao.RealizeDetailMapper" >
  <resultMap id="BaseResultMap" type="com.caitu99.service.realization.domain.RealizeDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="realize_id" property="realizeId" jdbcType="BIGINT" />
    <result column="item_id" property="itemId" jdbcType="BIGINT" />
    <result column="sku_id" property="skuId" jdbcType="BIGINT" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="mode" property="mode" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, realize_id, item_id, sku_id, quantity, level, status, create_time, mode
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_realize_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByRealizeId" resultMap="BaseResultMap" parameterType="java.lang.Long">
  	select 
    <include refid="Base_Column_List" />
    from t_realize_detail
    where realize_id = #{realizeId,jdbcType=BIGINT}
  </select>
  <select id="selectByLevel" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select 
    <include refid="Base_Column_List" />
    from t_realize_detail
    where realize_id = #{realizeId,jdbcType=BIGINT}
    and level = #{level,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_realize_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.caitu99.service.realization.domain.RealizeDetail" >
    insert into t_realize_detail (id, realize_id, item_id, 
      sku_id, quantity, level, mode,
      status, create_time)
    values (#{id,jdbcType=BIGINT}, #{realizeId,jdbcType=BIGINT}, #{itemId,jdbcType=BIGINT}, 
      #{skuId,jdbcType=BIGINT}, #{quantity,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, #{mode,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.caitu99.service.realization.domain.RealizeDetail" >
    insert into t_realize_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="realizeId != null" >
        realize_id,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="skuId != null" >
        sku_id,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="mode != null" >
        mode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="realizeId != null" >
        #{realizeId,jdbcType=BIGINT},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mode != null" >
        #{mode,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.caitu99.service.realization.domain.RealizeDetail" >
    update t_realize_detail
    <set >
      <if test="realizeId != null" >
        realize_id = #{realizeId,jdbcType=BIGINT},
      </if>
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null" >
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mode != null" >
        mode = #{createTime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.caitu99.service.realization.domain.RealizeDetail" >
    update t_realize_detail
    set realize_id = #{realizeId,jdbcType=BIGINT},
      item_id = #{itemId,jdbcType=BIGINT},
      sku_id = #{skuId,jdbcType=BIGINT},
      quantity = #{quantity,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      mode = #{mode,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>