<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caitu99.service.transaction.dao.FreeInventoryRecordMapper" >
  <resultMap id="BaseResultMap" type="com.caitu99.service.transaction.domain.FreeInventoryRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="free_trade_id" property="freeTradeId" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, free_trade_id, order_no, num, end_time, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_free_inventory_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_free_inventory_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.caitu99.service.transaction.domain.FreeInventoryRecord" >
    insert into t_free_inventory_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="freeTradeId != null" >
        free_trade_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>      
      <if test="num != null" >
        num,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="freeTradeId != null" >
        #{freeTradeId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>      
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.caitu99.service.transaction.domain.FreeInventoryRecord" >
    update t_free_inventory_record
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="freeTradeId != null" >
        free_trade_id = #{freeTradeId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>      
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="findFreeInventoryRecordByTime" parameterType="com.caitu99.service.transaction.domain.FreeInventoryRecord" resultType="java.lang.Integer">
  	select 
  		sum(num)
  	from 
  		t_free_inventory_record
  	where
  		free_trade_id = #{freeTradeId,jdbcType=BIGINT}
  	and 
  		<![CDATA[ end_time > #{endTime,jdbcType=TIMESTAMP}]]>

  </select>
  
  <select id="findRecordByOrderNo"  parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
  		<include refid="Base_Column_List" />
  	from
  		t_free_inventory_record
  	where
  		order_no = #{orderNo,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByOrderNo" parameterType="java.lang.String" >
    delete from t_free_inventory_record
    where order_no = #{orderNo,jdbcType=VARCHAR}
  </delete>
</mapper>