<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caitu99.service.goods.dao.GroupMapper" >
  <resultMap id="BaseResultMap" type="com.caitu99.service.goods.domain.Group" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="remote_type" property="remoteType" jdbcType="INTEGER" />
    <result column="remote_id" property="remoteId" jdbcType="VARCHAR" />
    <result column="remote_name" property="remoteName" jdbcType="VARCHAR" />
    <result column="img_path" property="imgPath" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="template_id" property="templateId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="discount" property="discount" jdbcType="VARCHAR" />
    <result column="reprice" property="reprice" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, remote_type, remote_id, remote_name, img_path, name, template_id, title, 
    status, url, sort, create_time, update_time,discount ,reprice
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_group
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_group
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.caitu99.service.goods.domain.Group" >
    insert into t_group (id, remote_type, remote_id, 
      img_path, name, title, 
      status, sort, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{remoteType,jdbcType=INTEGER}, #{remoteId,jdbcType=VARCHAR}, 
      #{imgPath,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{sort,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.caitu99.service.goods.domain.Group" >
    insert into t_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="remoteType != null" >
        remote_type,
      </if>
      <if test="remoteId != null" >
        remote_id,
      </if>
      <if test="imgPath != null" >
        img_path,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="url != null" >
        url,
      </if>     
      <if test="templateId != null">
      	template_id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="remoteType != null" >
        #{remoteType,jdbcType=INTEGER},
      </if>
      <if test="remoteId != null" >
        #{remoteId,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null" >
        #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=BIGINT},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.caitu99.service.goods.domain.Group" >
    update t_group
    <set >
      <if test="remoteType != null" >
        remote_type = #{remoteType,jdbcType=INTEGER},
      </if>
      <if test="remoteId != null" >
        remote_id = #{remoteId,jdbcType=VARCHAR},
      </if>
      <if test="remoteId != null" >
        remote_name = #{remoteName,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null" >
        img_path = #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>      
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="templateId != null">
      	version = #{templateId,jdbcType=BIGINT},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.caitu99.service.goods.domain.Group" >
    update t_group
    set remote_type = #{remoteType,jdbcType=INTEGER},
      remote_id = #{remoteId,jdbcType=VARCHAR},
      remote_name = #{remoteName,jdbcType=VARCHAR},
      img_path = #{imgPath,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      version = #{version,jdbcType=BIGINT},
      sort = #{sort,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  <select id="findGroupByTemplateId"  resultMap="BaseResultMap" parameterType="java.lang.Long">
 	select 
 	      remote_type, remote_id, remote_name, img_path, name, template_id, 
 	      title, url, sort, discount, reprice
 	from t_group
	where template_id = #{templateId,jdbcType=BIGINT}
	and status = 1
	order by sort
  </select>
  
  
</mapper>