<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caitu99.service.backstage.dao.VirtualGoodsInventoryMapper" >
    <resultMap id="BaseResultMap" type="com.caitu99.service.backstage.domain.VirtualGoodsInventory" >
        <result column="goodsID" property="goodsID" jdbcType="BIGINT" />
        <result column="goodsName" property="goodsName" jdbcType="VARCHAR" />
        <result column="initialInventory" property="initialInventory" jdbcType="INTEGER" />
        <result column="frozenInventory" property="frozenInventory" jdbcType="INTEGER" />
        <result column="actualInventory" property="actualInventory" jdbcType="INTEGER" />
        <result column="exchangeQuantity" property="exchangeQuantity" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        goodsID, goodsName, initialInventory, frozenInventory, actualInventory, exchangeQuantity
    </sql>
    <select id="selectByInventory" resultMap="BaseResultMap" parameterType="java.util.Map">

        select
         ts.sku_id as goodsID, ti.title as goodsName,count(ts.code) as initialInventory  ,
        (select count(tmp.id) from t_receive_stock tmp where tmp.status =2  and tmp.stock_id in (
		select stock_id from t_stock s where s.item_id = ti.item_id)
        <if test="end != null" >
            <![CDATA[and create_time <= STR_TO_DATE(#{end,jdbcType=VARCHAR},'%Y-%m-%d %k:%i:%s')]]>
        </if>
        )   as exchangeQuantity,
        (select count(tmp.id) from t_receive_stock tmp where tmp.status =1  and tmp.stock_id in (
		select stock_id from t_stock s where s.item_id = ti.item_id)
        <if test="end != null" >
            <![CDATA[and create_time <= STR_TO_DATE(#{end,jdbcType=VARCHAR},'%Y-%m-%d %k:%i:%s')]]>
        </if>
        )   as frozenInventory,
        (select count(stock_id) from t_stock s where s.item_id = ti.item_id and s.`status` = -1) as  overdue,
        (count(ts.code)- (select count(tmp.id) from t_receive_stock tmp where tmp.status =2  and tmp.stock_id in (
		select stock_id from t_stock s where s.item_id = ti.item_id)
        <if test="end != null" >
          <![CDATA[and create_time <= STR_TO_DATE(#{end,jdbcType=VARCHAR},'%Y-%m-%d %k:%i:%s')]]>
        </if>
        )
         - (select count(tmp.id) from t_receive_stock tmp where tmp.status =1  and tmp.stock_id in (
		select stock_id from t_stock s where s.item_id = ti.item_id)
         <if test="end != null" >
            <![CDATA[and create_time <= STR_TO_DATE(#{end,jdbcType=VARCHAR},'%Y-%m-%d %k:%i:%s')]]>
         </if>
         )
         - (select count(stock_id) from t_stock s where s.item_id = ti.item_id and s.`status` = -1) )
        as actualInventory
        
        from
        t_stock ts
        right join t_item ti
        on ts.item_id=ti.item_id
        where
        ts.sku_id > 1000 
        group by ts.sku_id

    </select>
</mapper>