<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caitu99.service.sys.dao.BannerMapper" >
  <resultMap id="BaseResultMap" type="com.caitu99.service.sys.domain.Banner" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="img_path" property="imgPath" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, img_path, url, name, type, status, sort
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_banner
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_banner
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.caitu99.service.sys.domain.Banner" >
    insert into t_banner (id, img_path, url, 
      name, type, status, 
      sort)
    values (#{id,jdbcType=BIGINT}, #{imgPath,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{sort,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.caitu99.service.sys.domain.Banner" >
    insert into t_banner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="imgPath != null" >
        img_path,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="sort != null" >
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="imgPath != null" >
        #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.caitu99.service.sys.domain.Banner" >
    update t_banner
    <set >
      <if test="imgPath != null" >
        img_path = #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.caitu99.service.sys.domain.Banner" >
    update t_banner
    set img_path = #{imgPath,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="findRotaryImg" resultMap="BaseResultMap" parameterType="com.caitu99.service.sys.domain.Banner" >
  	select 
   	<include refid="Base_Column_List" />
   	from t_banner
   	where 
   		type = #{type,jdbcType=INTEGER} 
   		and status = 1
   	order by sort asc
  </select>
  
  
    
  <sql id="queryObjWhereClause">
  		<where>
  				status = 1
  			<if test="banner.type != null" >	
  			and type = #{banner.type ,jdbcType=INTEGER}
  			</if>
		</where>
  </sql>
  
	 <!-- 查询总数 -->
  <select id="selectPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
	select 
		count(1) 
	from 
		t_banner 
	<include refid="queryObjWhereClause" />
  </select>
	
	<!-- 分页查询属性列表 -->
  <select id="selectPageList" resultMap="BaseResultMap" parameterType="java.util.Map" >
  	select 
  		<include refid="Base_Column_List" />
  	from 
  		t_banner
	<include refid="queryObjWhereClause" />
  	order by sort
	limit ${start},${pageSize}
  </select>
  
  
</mapper>