<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caitu99.service.mileage.dao.MileageIntegralMapper" >
  <resultMap id="BaseResultMap" type="com.caitu99.service.mileage.domain.MileageIntegral" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="airline_company_id" property="airlineCompanyId" jdbcType="BIGINT" />
    <result column="mileage" property="mileage" jdbcType="BIGINT" />
    <result column="bank_id" property="bankId" jdbcType="BIGINT" />
    <result column="integral" property="integral" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, airline_company_id, mileage, bank_id, integral, status, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_mileage_integral
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_mileage_integral
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.caitu99.service.mileage.domain.MileageIntegral" >
    insert into t_mileage_integral (id, airline_company_id, mileage, 
      bank_id, integral, status, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{airlineCompanyId,jdbcType=BIGINT}, #{mileage,jdbcType=BIGINT}, 
      #{bankId,jdbcType=BIGINT}, #{integral,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.caitu99.service.mileage.domain.MileageIntegral" >
    insert into t_mileage_integral
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="airlineCompanyId != null" >
        airline_company_id,
      </if>
      <if test="mileage != null" >
        mileage,
      </if>
      <if test="bankId != null" >
        bank_id,
      </if>
      <if test="integral != null" >
        integral,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="airlineCompanyId != null" >
        #{airlineCompanyId,jdbcType=BIGINT},
      </if>
      <if test="mileage != null" >
        #{mileage,jdbcType=BIGINT},
      </if>
      <if test="bankId != null" >
        #{bankId,jdbcType=BIGINT},
      </if>
      <if test="integral != null" >
        #{integral,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.caitu99.service.mileage.domain.MileageIntegral" >
    update t_mileage_integral
    <set >
      <if test="airlineCompanyId != null" >
        airline_company_id = #{airlineCompanyId,jdbcType=BIGINT},
      </if>
      <if test="mileage != null" >
        mileage = #{mileage,jdbcType=BIGINT},
      </if>
      <if test="bankId != null" >
        bank_id = #{bankId,jdbcType=BIGINT},
      </if>
      <if test="integral != null" >
        integral = #{integral,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.caitu99.service.mileage.domain.MileageIntegral" >
    update t_mileage_integral
    set airline_company_id = #{airlineCompanyId,jdbcType=BIGINT},
      mileage = #{mileage,jdbcType=BIGINT},
      bank_id = #{bankId,jdbcType=BIGINT},
      integral = #{integral,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  
  <select id="selectListBy" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from t_mileage_integral
    where airline_company_id = #{airCompanyId,jdbcType=BIGINT}
     and  bank_id = #{platformId,jdbcType=BIGINT}
     and  status = 1
  </select>
  
  
  
</mapper>