<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caitu99.service.manage.dao.ManageCardUserAuthMapper" >
  	<resultMap id="BaseResultMap" type="com.caitu99.service.manage.domain.ManageCardUserAuth" >
	    <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="user_id" property="userId" jdbcType="BIGINT" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
	    <result column="phone" property="phone" jdbcType="VARCHAR" />
	    <result column="status" property="status" jdbcType="INTEGER" />
	    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
 		<result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
  	</resultMap>
  	
  	<sql id="Base_Column_List" >
    	id, user_id, name, id_card, phone, status, gmt_create, gmt_modify
  	</sql>
  	
  	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    	select 
    		<include refid="Base_Column_List" />
    	from 
    		t_manage_card_user_auth
    	where 
    		id = #{id,jdbcType=BIGINT}
  	</select>
  	
  	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    	delete from t_manage_card_user_auth where id = #{id,jdbcType=BIGINT}
  	</delete>
  	
  	<insert id="insert" parameterType="com.caitu99.service.manage.domain.ManageCardUserAuth" >
  		<selectKey keyProperty="id" resultType="long" order="AFTER">  
        	SELECT LAST_INSERT_ID();  
    	</selectKey>
    	insert into t_manage_card_user_auth
    	<trim prefix="(" suffix=")" suffixOverrides="," >
   		<if test="id != null" >
        	id,
      	</if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModify != null" >
        gmt_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.caitu99.service.manage.domain.ManageCardUserAuth" >
    update t_manage_card_user_auth
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  	<select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
  		select  
  			<include refid="Base_Column_List" />
    	from 
    		t_manage_card_user_auth
    	where 
    		user_id = #{userId,jdbcType=BIGINT}
  	</select>
</mapper>